* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* font-family: 'Alegreya', serif;
font-family: 'Open Sans', sans-serif; */

/* MAIN HEADER */

.main-header {
    margin: auto;
    max-width: 1040px;
    /* width: 100%; */
    /* background-color: red; */
    padding: 20px 20px 40px 20px;
}

.main-header img {
    max-width: 165px;
}

.main-header li {
    display: inline-block;
    margin: 5px 15px 0 0;
    font-weight: 800;
}

.main-header li a {
    text-decoration: none;
    color: inherit;
}

.main-header li a:hover {
    color: rgb(189, 55, 0);
}

/* MAIN FOOTER */

.main-footer {
    background-color: black;
    color: white;
    padding: 50px 0 75px 0;
}

.footer-container {
    text-align: center;
}

.footer-container ul {
    margin-bottom: 30px;
}

.footer-container p {
    font-size: 0.75rem;
}

.footer-container li {
    display: inline;
    margin: auto 5px;
}

.footer-container li a {
    display: inline;
    margin: auto 5px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-container input#email {
    margin: 20px auto;
    display: block;
    background: black;
    border: 0px;
    /* color: rgba(0, 0, 0, 0.1); */
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid grey;
    width: 260px;
}

.footer-container .form-title {
    font-size: 1.3rem;
    background-color: red;
}

.footer-container .email {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.footer-container button {
    margin: 20px auto 40px auto;
    display: block;
    text-transform: capitalize;
    padding: 10px;
}

/* .footer-container button::content {
    text-transform: capitalize;
} */

/* GENERAL MAIN */

p {
    line-height: 1.5;
}

/* INDEX PAGE */

#index-header {
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
}

.index-header-container {
    background-image: url(../img/bg-hero-mars.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    max-width: 1040px;
    margin: auto;
    padding: 30px 20px;
    height: 500px;
}

#index-header h1 {
    font-size: 4rem;
}

#index-header p {
    font-size: 2rem;
}

#index-main-section {
    margin: 60px auto;
    max-width: 1040px;
    padding: 0 20px;
}

.card-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    font-family: 'Alegreya', serif;
}

.card-container div:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .card {
    min-height: 600px;
} */

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.8rem;
    padding: 15px 15px;
}

.card h3 a {
    color: rgb(189, 55, 0);
    text-decoration: none;
}

.card h3 a:hover {
    color: rgb(0, 0, 0);
}

.card p {
    padding: 0 15px 60px 15px;
    line-height: 1.();
}