* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya', serif;
}

/* font-family: 'Alegreya', serif;
font-family: 'Open Sans', sans-serif; */

/* MAIN HEADER */

.main-header {
    margin: auto;
    max-width: 1040px;
    font-family: 'Open Sans', sans-serif;
    /* width: 100%; */
    /* background-color: red; */
    padding: 20px 20px 40px 20px;
}

.main-header img {
    max-width: 250px;
}

.main-header li {
    display: inline-block;
    margin: 5px 15px 0 0;
    font-size: 1.4rem;
    font-weight: 800;
}

.main-header li.menu-active {
    border-bottom: 2px solid black;
}

.main-header li a {
    text-decoration: none;
    color: inherit;
}

.main-header li a:hover {
    color: rgb(189, 55, 0);
}

@media screen and (max-width: 768px) {
    .main-header img {
        margin: auto;
        display: block;
    }
    .main-header ul {
        margin-top: 20px;
    }
    .main-header li {
        font-size: 1.1rem;
        display: block;
        max-width: max-content;
        margin: auto;
    }
}

/* MAIN FOOTER */

.main-footer {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 50px 0 75px 0;
}

.footer-container {
    text-align: center;
    max-width: 1040px;
    padding: 0 20px 0 20px;
    margin: auto;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    color: rgb(189, 55, 0);
}

.footer-container ul {
    margin-bottom: 30px;
}

.footer-container p {
    font-size: 0.75rem;
}

.footer-container li {
    display: inline;
    margin: auto 5px;
}

.footer-container li a {
    display: inline;
    margin: auto 5px;
    font-size: 0.9rem;
}

.footer-container input#email {
    margin: 20px auto;
    display: block;
    background: black;
    border: 0px;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid grey;
    width: 400px;
}

.footer-container img {
    max-width: 250px;
}

.footer-container .sentence {
    font-size: 1.4rem;
}

.footer-container .email {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.footer-container button {
    margin: 20px auto 40px auto;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

span:lang(en) {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .footer-container .sentence {
        font-size: 1.2rem;
    }
    .footer-container input#email {
        width: 100%;
        border-bottom: 1px solid white;
    }
}

/* GENERAL MAIN */

.main-container {
    margin: auto;
    max-width: 1040px;
    padding: 0 20px;
    font-family: 'Alegreya', serif;
}

.main-title {
    font-size: 3rem;
}

.container {
    margin-top: 30px;
    margin-bottom: 120px;
}

p {
    line-height: 1.5;
}

/* INDEX PAGE */

#index-header {
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
}

.index-header-container {
    background-image: url(../img/bg-hero-mars.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    max-width: 1040px;
    margin: auto;
    padding: 30px 20px;
    height: 500px;
}

#index-header h1 {
    font-size: 5rem;
}

#index-header p {
    font-size: 2.5rem;
    font-style: italic;
}

#index-main-section {
    margin: 60px auto;
    max-width: 1040px;
    padding: 0 20px;
}

#index-main-section header h2 {
    font-size: 2.3rem;
}

#index-main-section header p {
    font-size: 1.6rem;
}

.card-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    font-family: 'Alegreya', serif;
}

.card-container div:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.8rem;
    padding: 15px 15px;
}

.card h3 a {
    color: rgb(189, 55, 0);
    text-decoration: none;
}

.card h3 a:hover {
    color: rgb(0, 0, 0);
}

.card p {
    padding: 0 15px 60px 15px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .card-container {
        grid-auto-rows: auto;
    }
    .card-container div:nth-child(odd) {
        background-color: transparent;
    }
    .card h3 {
        font-size: 1.8rem;
        padding: 15px 0;
    }
    .card p {
        padding: 0 0 30px 0;
        line-height: 1.5;
    }
    #index-main-section header h2 {
        font-size: 2.3rem;
    }
    #index-main-section header p {
        font-size: 1.6rem;
    }
}

/* MARTE EN EL CINE */

.movies-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}

.movie-card {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

/* .movie-card figure {
    max-width: 100%;
} */

.movie-card figcaption {
    text-align: center;
    /* font-size: 0.9rem; */
    margin: 10px auto 20px auto;
}

.movie-card iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

/* CIENCIA FICCION */

.author-card {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 250px 1fr 250px;
    column-gap: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .author-card {
        grid-template-columns: 1fr;
    }
}

.author-card h2 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 2.8rem;
    line-height: 1;
}

.author-card figure {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.author-card img {
    max-width: 100%;
}

.author-card blockquote {
    font-style: italic;
    line-height: 1.5;
    font-size: 1.1rem;
}

.author-card cite {
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
}

.underscore {
    color: rgb(189, 55, 0);
    font-size: 2.5rem;
    font-family: sans-serif;
    position: relative;
    bottom: 8px;
    margin-right: 5px;
}

/* MARS 2020 */

#main-mars2020 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.mars2020-article p {
    margin: 10px auto 10px auto;
}

.mars2020-article li {
    margin-left: 30px;
    list-style-type: square;
}

.mars2020-article iframe {
    border: none;
    width: 100%;
    min-height: 400px;
}

.mars2020-article figcaption {
    text-align: center;
    font-size: 0.9rem
}

#main-mars2020 aside {
    font-family: 'Open Sans', sans-serif;
}

#main-mars2020 aside h3 {
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 35px auto 15px auto;
    width: 240px;
}

#main-mars2020 aside ul {
    list-style: none;
    font-size: 0.85rem;
}

#main-mars2020 a {
    text-decoration: none;
    color: rgb(189, 55, 0);
}

#main-mars2020 a:hover {
    color: black;
}

#main-mars2020 aside li {
    margin-bottom: 3px;
}

#main-mars2020 aside li.active {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    #main-mars2020 {
        flex-direction: column;
    }
    #main-mars2020 aside h3 {
        width: 100%;
        margin-top: 15px;
    }
    .mars2020-article iframe {
        border: none;
        width: 100%;
        min-height: 300px;
    }
}