* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya', serif;
}

/* font-family: 'Alegreya', serif;
font-family: 'Open Sans', sans-serif; */

/* MAIN HEADER */

.main-header {
    margin: auto;
    max-width: 1040px;
    font-family: 'Open Sans', sans-serif;
    /* width: 100%; */
    /* background-color: red; */
    padding: 20px 20px 40px 20px;
}

.main-header img {
    max-width: 250px;
}

.main-header li {
    display: inline-block;
    margin: 5px 15px 0 0;
    font-size: 1.4rem;
    font-weight: 800;
}

.main-header li.menu-active {
    border-bottom: 2px solid black;
}

.main-header li a {
    text-decoration: none;
    color: inherit;
}

.main-header li a:hover {
    color: rgb(189, 55, 0);
}

@media screen and (max-width: 800px) {
    .main-header img {
        margin: auto;
        display: block;
    }
    .main-header ul {
        margin-top: 20px;
    }
    .main-header li {
        font-size: 1.1rem;
        display: block;
        max-width: max-content;
        margin: auto;
    }
}

/* MAIN FOOTER */

.main-footer {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 50px 0 75px 0;
}

.footer-container {
    text-align: center;
}

.footer-container ul {
    margin-bottom: 30px;
}

.footer-container p {
    font-size: 0.75rem;
}

.footer-container li {
    display: inline;
    margin: auto 5px;
}

.footer-container li a {
    display: inline;
    margin: auto 5px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-container input#email {
    margin: 20px auto;
    display: block;
    background: black;
    border: 0px;
    /* color: rgba(0, 0, 0, 0.1); */
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid grey;
    width: 260px;
}

.footer-container .form-title {
    font-size: 1.3rem;
    background-color: red;
}

.footer-container .email {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.footer-container button {
    margin: 20px auto 40px auto;
    display: block;
    text-transform: capitalize;
    padding: 10px;
}

/* .footer-container button::content {
    text-transform: capitalize;
} */

/* GENERAL MAIN */

.main-container {
    margin: auto;
    max-width: 1040px;
    padding: 0 20px;
    font-family: 'Alegreya', serif;
}

.main-title {
    font-size: 3rem;
}

.container {
    margin-top: 30px;
    margin-bottom: 120px;
}

p {
    line-height: 1.5;
}

/* .main-container h1 {
    font-size: 3rem;
} */

/* INDEX PAGE */

#index-header {
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
}

.index-header-container {
    background-image: url(../img/bg-hero-mars.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    max-width: 1040px;
    margin: auto;
    padding: 30px 20px;
    height: 500px;
}

#index-header h1 {
    font-size: 5rem;
}

#index-header p {
    font-size: 2.5rem;
    font-style: italic;
}

#index-main-section {
    margin: 60px auto;
    max-width: 1040px;
    padding: 0 20px;
}

.card-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    font-family: 'Alegreya', serif;
}

.card-container div:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.8rem;
    padding: 15px 15px;
}

.card h3 a {
    color: rgb(189, 55, 0);
    text-decoration: none;
}

.card h3 a:hover {
    color: rgb(0, 0, 0);
}

.card p {
    padding: 0 15px 60px 15px;
    line-height: 1.();
}

/* MARTE EN EL CINE */

.movies-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}

.movie-card {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.movie-card figure {
    /* max-width: 100%; */
}

.movie-card figcaption {
    text-align: center;
    /* font-size: 0.9rem; */
    margin: 10px auto 20px auto;
}

.movie-card iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

/* CIENCIA FICCION */

.author-card {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 250px 1fr 250px;
    grid-template-columns: 250px 1fr 250px;
    /* grid-template-columns: 1fr; */
    column-gap: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .author-card {
        grid-template-columns: 1fr;
    }
}

.author-card h2 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 2.8rem;
    line-height: 1;
}

.author-card figure {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.author-card img {
    max-width: 100%;
}